<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Əsas səhifə</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" th:href="@{/favicon.jpg}">

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">

    <!-- jQuery library -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

    <!-- Popper JS -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

    <!-- Latest compiled JavaScript -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        .filter-header {
            font-size: 20px;
            color:red;
        }

        .flex-box {
            display: flex;
        }


        @media screen and (max-width: 768px) {

            .flex-item-1 {
                order: 2;
            }

            .flex-item-2 {
                order: 1;
            }
        }
    </style>

</head>
<body onload="configInput()">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="background-color: rgb(133, 162, 221); padding:8px;">
                <h2 style="margin-left: 22px; width: 85%; font-family: 'Amita';"><a style="text-decoration: none; color: black;" href="/">Sizin televizor axtarışçınız</a></h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row flex-box">
            <!-- left part - filter part -->
            <div class="col-md-6 flex-item-1 right-line" >
                <br>
                <h3>İstəyinizə görə televizoru axtarın</h3>
                <form th:action="@{/action/filter}" method="get">
                    <div class="row">

                        <!-- price range -->
                        <div class="col-md-6">
                            <div>
                                <span class="filter-header"><b>Qiymət aralığı (AZN-lə)</b></span>
                                <div class="form-group">
                                    <label for="startPrice">Başlanğıc qiymət</label>
                                    <input type="number" name="startPrice" class="form-control" id="startPrice" required>
                                    <p id="startPriceValue"></p>
                                </div>
                                <div class="form-group">
                                    <label for="endPrice">Son qiymət</label>
                                    <input type="number" name="endPrice" class="form-control" id="endPrice" required>
                                </div>
                            </div>
                        </div>
                        <!-- price range end -->

                        <!-- diagonal range -->
                        <div class="col-md-6">
                            <div>
                                <span class="filter-header"><b>Diaqonal (sm-lə)</b></span>
                                <div class="form-group">
                                    <label for="startDiagonal">Başlanğıc ölçü</label>
                                    <input type="number" name="startDiagonal" class="form-control" id="startDiagonal" required>
                                </div>
                                <div class="form-group">
                                    <label for="endDiagonal">Son ölçü</label>
                                    <input type="number" name="endDiagonal" class="form-control" id="endDiagonal" required>
                                </div>
                            </div>
                        </div>
                        <!-- diagonal range end -->

                    </div>
                    <div class="row">

                        <!-- tv brands -->
                        <div class="col-md-3">
                            <div>
                                <span class="filter-header"><b>Brendlər</b></span><br>
                                <th:block th:each="tv_brand: ${brandList}">
                                    <input type="checkbox" name="brand" th:value="${tv_brand}"> <span th:text="${tv_brand}"></span><br>
                                </th:block>
                            </div>
                        </div>
                        <!-- tv brands end -->

                        <!-- tv resolutions -->
                        <div class="col-md-3">
                            <div>
                                <span class="filter-header"><b>Görüntü imkanları</b></span><br>
                                <th:block th:each="tv_resolution: ${resolutionList}">
                                    <th:block th:if="${tv_resolution != null}">
                                    <input type="checkbox" name="resolution" th:value="${tv_resolution}"> <span th:text="${tv_resolution}"></span><br>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <!-- tv resolutions end -->

                        <!-- tv screen types -->
                        <div class="col-md-3">
                            <div>
                                <span class="filter-header"><b>Ekran növləri</b></span><br>
                                <th:block th:each="tv_screenType: ${screenTypeList}">
                                    <th:block th:if="${tv_screenType != null}">
                                        <input type="checkbox" name="screenType" th:value="${tv_screenType}"> <span th:text="${tv_screenType}"></span><br>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <!-- tv screen types end -->

                        <!-- tv other functionalities -->
                        <div class="col-md-3">
                            <span class="filter-header"><b>Başqa funksiyalar</b></span><br>
                            <div>
                                <input type="checkbox" name="smartTv" th:value="smartTv"> <span>Smart TV</span>
                            </div>
                            <div>
                                <input type="checkbox" name="wifi" th:value="wifi"> <span>Wifi dəstəyi</span>
                            </div>
                        </div>
                        <!-- tv other functionalities -->
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-block btn-primary">Filtirlə</button>
                            <br><br>
                        </div>
                    </div>

                </form>
            </div>
            <!-- right part - button part -->
            <div class="col-md-6 flex-item-2">
                <br>
                <!-- tv search part -->
                <form th:action="@{/action/search}" method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="search" placeholder="Televizoru axtar" required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-search" style="font-size:15px;color:white;"></i></button>
                        </div>
                    </div>
                </form>
                <!-- tv search part end -->

                <a href="/tvs?mode=1&page=1" class="btn btn-block btn-warning">Ucuzdan bahaya baxın</a>
                <br>
                <a href="/tvs?mode=2&page=1" class="btn btn-block btn-warning">Bahadan ucuza baxın</a>
            </div>
            <br><br>
        </div>
    </div>

    <div style="background-color: rgb(133, 162, 221); height: 30px; width: 100%; margin-top: 10px;"></div>
<script>
    function configInput() {
        document.getElementById("startPrice").value = 0;
        document.getElementById("endPrice").value = 1000000;
        document.getElementById("startDiagonal").value = 0;
        document.getElementById("endDiagonal").value = 500;
    }
</script>
</body>
</html>